.buttonMain {
    position:relative;
    cursor:pointer;
    width:300px;
    height:100px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.buttonMain:hover {
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    /* Safari */
    transform:translateY(-15px);
}

.buttonBackground {
    position:absolute;
    top:15px;
    width:300px;
    height:100px; 
    transform: skewX(-15deg) scaleY(cos(-15deg));
    transition: transform .3s ease-out;

}

.buttonBackground:hover {
    transform:translateX(0,-15px);
}

.buttonContainer {
    position: absolute;
    left:30px;
    background-color: black;
    width:300px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(-15deg) scaleY(cos(-15deg));

}

.buttonText {
    position: absolute;
    left:30%;
    top:30px;
}