.celebMain {
    position: relative;
    width:300px;
    height:400px;
    margin-top: 60px;
    margin-right:10px;
    margin-left:10px;
}

.sightings, .name {
    position: absolute;
    left:20px;
    width:220px;
    height:50px;
    background-color: black;
    padding-left:10px;

    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.sightings {
    bottom:20px;
}

.name {
    top:20px;
}

.celebMain p {
    font-size:23px;
}
